html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="submit"],
input[type="button"],
input[type="search"],
button {
  -webkit-appearance: none; }

a {
  text-decoration: none;
  outline: 0 !important; }

.clearfix:after {
  clear: both;
  height: 0;
  display: block;
  content: ""; }

.table-block {
  display: table;
  width: 100%;
  height: 100%; }

.block-vertical {
  display: table-cell;
  vertical-align: middle; }

.block-bottom {
  display: table-cell;
  vertical-align: bottom; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@font-face {
  font-family: GothamProBold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/GothamProBold/GothamProBold.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProBold/GothamProBold.woff) format("woff"), url(../fonts/GothamProBold/GothamProBold.ttf) format("truetype"); }

@font-face {
  font-family: GothamProLight;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GothamProLight/GothamProLight.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProLight/GothamProLight.woff) format("woff"), url(../fonts/GothamProLight/GothamProLight.ttf) format("truetype"); }

@font-face {
  font-family: GothamProMedium;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GothamProMedium/GothamProMedium.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProMedium/GothamProMedium.woff) format("woff"), url(../fonts/GothamProMedium/GothamProMedium.ttf) format("truetype"); }

@font-face {
  font-family: GothamProRegular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GothamProRegular/GothamProRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProRegular/GothamProRegular.woff) format("woff"), url(../fonts/GothamProRegular/GothamProRegular.ttf) format("truetype"); }

@font-face {
  font-family: ProximaBold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaBold/ProximaNovaBold.woff) format("woff"), url(../fonts/ProximaNovaBold/ProximaNovaBold.ttf) format("truetype"); }

@font-face {
  font-family: ProximaBlack;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaBlack/ProximaNovaBlack.woff) format("woff"), url(../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf) format("truetype"); }

@font-face {
  font-family: ProximaRegular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaRegular/ProximaNovaRegular.woff) format("woff"), url(../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf) format("truetype"); }

@font-face {
  font-family: ProximaSemibold;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff) format("woff"), url(../fonts/ProximaNovaSemibold/ProximaNovaSemibold.ttf) format("truetype"); }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  height: auto; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 50; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: left; }

.bx-wrapper .bx-pager.bx-default-pager a,
.owl-dot {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border: 2px solid #bebebe;
  outline: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #f86400;
  border-color: transparent; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  outline: 0;
  width: 100px;
  height: 100%;
  top: 0;
  text-indent: -9999px;
  z-index: 99; }

.bx-next {
  background: url(../img/works-next.png) no-repeat 50%;
  right: 0; }
  .bx-next:hover {
    background: url(../img/works-next-active.png) no-repeat 50%; }

.bx-prev {
  background: url(../img/works-prev.png) no-repeat 40%;
  left: 0; }
  .bx-prev:hover {
    background: url(../img/works-prev-active.png) no-repeat 40%; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  display: none; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.owl-prev,
.owl-next {
  display: block;
  width: 17px;
  height: 28px;
  position: absolute;
  z-index: 2;
  top: 45%;
  margin-top: -26px;
  text-indent: -9999px; }

.owl-prev {
  left: 10px;
  background: url(../img/owl-prev.png) no-repeat; }

.owl-next {
  right: 10px;
  background: url(../img/owl-next.png) no-repeat; }

.owl-dot {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #bebebe;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 6px; }
  .owl-dot.active {
    border-color: #da6417;
    background: #da6417; }

.owl-dots {
  text-align: center;
  padding-top: 15px; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%); }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  padding: 45px;
  text-align: center;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }
  .modal-content .btn--submit {
    text-align: center; }
  .modal-content .form-group:last-child {
    margin-bottom: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.modal-title {
  margin-bottom: 30px !important; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; } }

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(../img/fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../img/fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

.fancybox-lock {
  overflow: visible !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(../img/fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

html {
  font-size: 100%; }

body {
  font-size: 14px;
  line-height: 1.2;
  font-family: ProximaRegular; }

b,
strong {
  font-family: ProximaBold; }

i {
  font-style: italic; }

h1 {
  font-size: 5rem;
  font-family: GothamProBold;
  text-transform: uppercase;
  margin-bottom: 3rem; }

h2 {
  font-size: 3.75rem;
  color: #444444;
  font-family: GothamProBold;
  text-transform: uppercase; }

h3 {
  text-transform: uppercase;
  color: #a6724f;
  font-size: 1.875rem;
  font-family: GothamProBold;
  margin-bottom: 1.25rem; }

p {
  margin: 0 0 15px; }

.middle {
  display: inline-block;
  vertical-align: middle; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 20px; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0; }

dl {
  margin-top: 0;
  margin-bottom: 20px; }

dt,
dd {
  line-height: 1.42857143; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.facebook-link {
  width: 22px;
  height: 22px;
  display: block;
  background: url(../img/facebook.png) no-repeat; }

.youtube-link {
  width: 22px;
  height: 26px;
  display: block;
  margin-top: 0.625rem;
  background: url(../img/youtube.png) no-repeat; }

.develop {
  color: #fff;
  font-size: 1rem; }

.section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 2; }
  .section--main {
    color: #fff;
    padding-top: 8rem; }
    .section--main p {
      font-size: 2.125rem; }
  .section--investor {
    color: #fff; }
    .section--investor__top {
      padding-top: 8rem; }
    .section--investor__leaf1 {
      position: absolute;
      right: 0;
      bottom: -16%;
      z-index: 2; }
    .section--investor__leaf2 {
      position: absolute;
      left: 50%;
      margin-left: -15px;
      bottom: -8%;
      z-index: 2; }
    .section--investor__header {
      width: 60rem; }
      .section--investor__header p {
        font-size: 1.625rem;
        line-height: 1.5; }
      .section--investor__header b {
        font-family: ProximaBold; }
  .section--about:after {
    content: "";
    display: block;
    background: url(../img/right-leaf.png) no-repeat;
    width: 222px;
    height: 870px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: -50px; }
  .section--about:before {
    content: "";
    display: block;
    background: url(../img/left-leaf.png);
    width: 79px;
    height: 542px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 30%; }
  .section--about__info {
    padding-top: 4.0625rem; }
  .section--about__descr {
    font-size: 2.125rem;
    margin: 6% 0; }
  .section--about__list {
    font-size: 1.5rem; }
    .section--about__list b {
      font-family: ProximaSemibold; }
    .section--about__list li {
      float: left;
      width: 50%;
      position: relative;
      margin-bottom: 3.125rem;
      padding-left: 3.125rem; }
      .section--about__list li:before {
        content: "";
        display: block;
        width: 27px;
        height: 24px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0.25rem;
        background: url(../img/plant-small.png) no-repeat; }
  .section--product .container {
    position: relative; }
  .section--product__btn {
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: 2; }
  .section--product__header {
    margin-bottom: 4.375rem;
    position: relative; }
    .section--product__header h3 {
      color: #444444;
      font-family: GothamProRegular;
      opacity: 0.8; }
  .section--product__number {
    position: relative;
    padding-left: 180px;
    min-height: 145px;
    margin-bottom: 3.4375rem; }
  .section--product__wrapp {
    width: 50rem;
    position: relative; }
  .section--product__content {
    background: #fff;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 2.8125rem 3.5rem;
    font-size: 1.5rem;
    line-height: 1.4; }
    .section--product__content--shadow {
      -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.14);
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.14); }

.law {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0; }

.green-color {
  color: #b9e156; }

.brown-color {
  color: #a6724f; }

.services {
  margin-left: -5px;
  margin-top: 6%; }
  .services__item {
    position: relative;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(80%, #fff), to(#d6d6d6));
    background: -webkit-linear-gradient(left, #fff 0, #fff 80%, #d6d6d6 100%);
    background: linear-gradient(to right, #fff 0, #fff 80%, #d6d6d6 100%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 35px 50px -25px #000;
    box-shadow: 0 35px 50px -25px #000;
    padding-left: 200px; }
    .services__item.current {
      background: #ccec7f; }
      .services__item.current:before {
        content: "";
        display: block;
        position: absolute;
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
        height: -webkit-calc(100% - 20px);
        height: calc(100% - 20px);
        border: 1px solid rgba(96, 110, 61, 0.3);
        left: 10px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        top: 10px; }
      .services__item.current .services__number {
        background: #fff;
        color: #3a3a3a; }
      .services__item.current h3 {
        color: #606e3d; }
      .services__item.current .services__info {
        color: #606e3d; }
  .services__block {
    padding-left: 5px; }
  .services__name {
    text-transform: uppercase; }
  .services__number {
    position: absolute;
    z-index: 2;
    background: #b9e156;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #606e3d;
    width: 145px;
    height: 145px;
    text-align: center;
    left: 30px;
    top: -30px;
    font-size: 1.125rem;
    font-family: GothamProMedium; }
    .services__number--product {
      left: 0;
      top: 0; }
    .services__number:before {
      content: "";
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      height: 100%;
      width: 100%;
      left: 0;
      position: absolute;
      pointer-events: none; }
  .services__value {
    font-family: GothamProBold;
    font-size: 3.125rem; }
  .services__metering {
    font-size: 3.125rem;
    font-family: GothamProLight; }
  .services__info {
    height: 145px;
    color: #3a3a3a;
    font-size: 1.5rem; }
    .services__info p {
      font-size: 1.5rem; }

.header {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 4rem;
  width: 100%; }

.logo__icon {
  margin-right: 1.25rem; }

.logo__text {
  color: #fff;
  margin-left: 1.25rem;
  position: relative; }
  .logo__text:before {
    position: absolute;
    z-index: 2;
    left: -1.5rem;
    top: 50%;
    margin-top: -20px;
    content: "";
    display: block;
    width: 2px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2); }

.logo__title {
  font-family: GothamProBold;
  text-transform: uppercase;
  font-size: 1.625rem;
  margin-bottom: 0.8rem; }

.logo__descr {
  text-transform: uppercase;
  font-size: 0.75rem; }

.nav {
  margin-bottom: 0; }
  .nav > li {
    float: left;
    border-right: 1px solid #e5e5e5; }
    .nav > li:first-child a {
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px; }
    .nav > li:last-child {
      border-right: 0; }
      .nav > li:last-child a {
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0; }
    .nav > li.active a, .nav > li:hover a {
      background-color: #bfe778; }
    .nav > li a {
      display: block;
      padding: 1.5rem;
      background: #fff;
      color: #000;
      text-transform: uppercase;
      font-size: 1rem;
      font-family: ProximaBold; }
  .nav--footer {
    border: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 7px;
    border-radius: 7px; }
    .nav--footer > li {
      border: 0; }
      .nav--footer > li.active a, .nav--footer > li:hover a {
        background-color: transparent;
        color: #b9e156; }
      .nav--footer > li > a {
        background: none;
        color: #fff;
        opacity: 0.8;
        padding: 1.5rem 1rem; }

.lang {
  text-transform: uppercase;
  font-family: ProximaBold;
  font-size: 1rem;
  margin-bottom: 0; }
  .lang > li {
    opacity: 0.3; }
    .lang > li:hover, .lang > li.active {
      opacity: 1; }
      .lang > li:hover a, .lang > li.active a {
        color: #b9e156; }
    .lang > li + li {
      margin-top: 5px; }
  .lang a {
    color: #fff; }

.telephone {
  color: #fff;
  position: relative;
  padding-left: 2.1875rem; }
  .telephone__number {
    font-size: 1.5rem;
    font-family: ProximaSemibold;
    margin-bottom: 0.5rem; }
  .telephone__info {
    font-size: 1rem;
    opacity: 0.6; }

.phone-icon {
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0.3125rem;
  background: url(../img/phone.png) no-repeat; }
  .phone-icon--medium {
    width: 29px;
    height: 29px;
    position: static;
    background: url(../img/phone-medium.png) no-repeat; }

.btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-family: ProximaSemibold;
  color: #000;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left bottom, left top, from(#dec998), to(#ffffff));
  background: -webkit-linear-gradient(bottom, #dec998, #ffffff);
  background: linear-gradient(to top, #dec998, #ffffff);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 1px #c3ae7c;
  box-shadow: 0 4px 1px #c3ae7c;
  padding: 1rem 1.5rem;
  padding-top: 1.4rem; }
  .btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#dec998), to(#ffffff));
    background: -webkit-linear-gradient(top, #dec998, #ffffff);
    background: linear-gradient(to bottom, #dec998, #ffffff); }
  .btn--product {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 1.8rem;
    padding-bottom: 1.4rem;
    font-size: 1.125rem; }
  .btn--medium {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 1.8rem;
    padding-bottom: 1.4rem;
    font-size: 1.125rem; }
  .btn--green {
    background: #d1e98e;
    -webkit-box-shadow: 0 4px 1px #95aa62;
    box-shadow: 0 4px 1px #95aa62; }
    .btn--green:hover {
      background: #c0e163; }
  .btn--submit {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 1.8rem;
    padding-bottom: 1.4rem;
    font-size: 1.125rem;
    width: 100%; }

.association {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -35%;
  bottom: -5px; }
  .association__text {
    padding-left: 3.125rem;
    padding-top: 40px;
    font-size: 1.5rem; }
    .association__text b {
      font-family: ProximaSemibold; }

.law__link {
  float: left;
  margin-top: 250px;
  font-size: 1.5rem;
  color: #225323;
  border-bottom: 1px dashed #225323; }

.law__img {
  float: left; }

.footer {
  padding: 4.0625rem 0;
  background: #443d3a; }

.investor-advantages {
  width: 835px;
  float: right; }
  .investor-advantages__header {
    float: right;
    width: 735px;
    margin-bottom: 5.625rem; }
    .investor-advantages__header h2 {
      color: #fff; }
  .investor-advantages__info {
    width: 834px;
    height: 700px;
    clear: both;
    font-size: 24px;
    color: #444444;
    background: url(../img/paper.png) no-repeat;
    font-family: ProximaRegular;
    padding-left: 160px;
    padding-right: 110px;
    padding-top: 100px;
    line-height: 1.4; }
    .investor-advantages__info p {
      margin-bottom: 50px;
      opacity: 0.8;
      position: relative;
      z-index: 3; }
    .investor-advantages__info b {
      font-family: ProximaBold; }

.investor-garanty__header {
  padding-top: 80px;
  width: 32%; }

.investor-garanty__item--large {
  width: 25%; }

.investor-garanty__item--small {
  width: 14%; }

.investor-garanty__item--medium {
  width: 19%; }

.investor-garanty__icon {
  height: 260px;
  line-height: 260px; }
  .investor-garanty__icon img {
    vertical-align: middle; }

.investor-garanty__text {
  font-size: 1.5rem;
  font-family: ProximaRegular;
  opacity: 0.8;
  line-height: 1.5; }
  .investor-garanty__text b {
    font-family: ProximaBold; }

.chart--nopad {
  padding-top: 0;
  padding-bottom: 0; }

.chart-info {
  margin-top: 50px; }
  .chart-info__text {
    width: 65%;
    line-height: 1.5;
    font-size: 1.5rem; }

.chart__form {
  margin-top: 5rem; }

.chart__header {
  padding-left: 95px; }

.chart__info {
  margin-bottom: 25px; }
  .chart__info__item {
    margin-bottom: 12px; }
  .chart__info__text {
    font-size: 16px;
    margin-left: 15px;
    color: #2c2c2c; }
  .chart__info__color {
    width: 20px;
    height: 20px; }
    .chart__info__color_blue {
      background-color: #69a6ce; }
    .chart__info__color_green {
      background-color: #4fba6f; }

.chart__title {
  font-size: 16px;
  font-weight: 600;
  color: #2c2c2c;
  margin-bottom: 30px; }

.chart__content {
  position: relative;
  padding-left: 95px; }

.chart__numbers__item {
  position: absolute;
  left: 0;
  z-index: 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #444444;
  width: 95px;
  font-family: ProximaBold; }
  .chart__numbers__item:first-child {
    bottom: 0; }
  .chart__numbers__item:nth-child(2) {
    bottom: 13.7%; }
  .chart__numbers__item:nth-child(3) {
    bottom: 32%; }
  .chart__numbers__item:nth-child(4) {
    bottom: 48%; }
  .chart__numbers__item:nth-child(5) {
    bottom: 64%; }
  .chart__numbers__item:nth-child(6) {
    bottom: 80%; }
  .chart__numbers__item:last-child {
    bottom: 96%; }
    .chart__numbers__item:last-child:after {
      content: none; }

.chart__right {
  padding-left: 4.5rem; }

.chart__footer {
  font-size: 1.25rem;
  color: #444444;
  margin-top: 3rem; }
  .chart__footer__item {
    margin-left: 55px; }

.chart__view {
  height: 485px;
  padding-right: 25px;
  position: relative; }
  .chart__view__item {
    float: left;
    width: 10%;
    height: 100%;
    position: relative;
    text-align: center;
    color: #fff; }
  .chart__view__green {
    background-color: #d5ed9a;
    font-size: 16px;
    -webkit-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    position: absolute;
    bottom: 75px;
    right: 0;
    width: -webkit-calc(100% - 25px);
    width: calc(100% - 25px); }
  .chart__view__brown {
    background-color: #a69e8b;
    height: 75px;
    font-size: 16px;
    -webkit-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 2; }
  .chart__view__grey {
    background-color: rgba(0, 0, 0, 0.1);
    height: 75px; }

.chart__line {
  position: absolute;
  left: 0;
  width: 100%;
  padding-left: 25px;
  bottom: 0;
  z-index: 3; }

.form-group {
  margin-bottom: 2rem; }

.grey-line {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  left: 0;
  z-index: 3; }
  .grey-line:first-child {
    top: 0; }
  .grey-line:nth-child(2) {
    top: 18%; }
  .grey-line:nth-child(3) {
    top: 34%; }
  .grey-line:nth-child(4) {
    top: 50%; }
  .grey-line:nth-child(5) {
    top: 66%; }
  .grey-line:nth-child(6) {
    top: 84.5%;
    right: 0;
    left: auto;
    z-index: 4;
    background: url(../img/chart-line.png); }
  .grey-line:nth-child(7) {
    top: 100%; }

.form-control {
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  outline: 0;
  text-align: center;
  border: 2px solid #e8e8e8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 5rem;
  font-size: 1.3rem;
  font-family: ProximaRegular; }

.field-method__right {
  padding-left: 40px; }

.contacts__left {
  margin-top: 8rem; }
  .contacts__left--single {
    margin-top: 0 !important; }

.contacts__form {
  margin-bottom: 3.75rem; }
  .contacts__form .form-control {
    margin-right: 2.5rem;
    display: inline-block;
    width: 27rem; }

.contacts__phone {
  color: #444;
  font-size: 4rem;
  margin-left: 5rem; }

.contacts__descr {
  font-size: 1.5rem;
  opacity: 0.8;
  margin: 3.125rem 0;
  line-height: 1.5;
  font-family: ProximaRegular; }
  .contacts__descr b {
    font-family: ProximaBold; }

.contacts__men {
  overflow: hidden;
  height: 850px;
  position: absolute;
  right: 5%;
  bottom: 0; }

.contacts__info__title {
  font-family: ProximaRegular;
  font-size: 1.5rem;
  line-height: 1.5; }

.brown-line {
  background: #a69e8b;
  width: 40px;
  height: 10px;
  margin-right: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

.green-line {
  background: #c9e87d;
  width: 40px;
  height: 10px;
  margin-right: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

.owner-header {
  width: 58rem; }
  .owner-header p {
    color: #444444;
    margin-top: 3.5rem;
    font-size: 1.625rem;
    line-height: 1.5; }

.owner-advantages {
  color: #fff; }
  .owner-advantages li {
    margin-bottom: 3rem;
    float: left;
    width: 50%;
    padding-left: 4rem;
    position: relative; }
    .owner-advantages li:before {
      content: "";
      display: block;
      width: 20px;
      height: 18px;
      position: absolute;
      left: 2rem;
      top: -20px;
      z-index: 2;
      background: url(../img/plant-adv.png) no-repeat; }
  .owner-advantages__title {
    color: #b5d953;
    text-transform: uppercase;
    font-family: ProximaBold;
    margin-bottom: 2rem; }
  .owner-advantages__text {
    line-height: 1.5;
    opacity: 0.8; }
  .owner-advantages h2 {
    color: #fff; }
  .owner-advantages__list {
    margin-top: 5rem;
    font-size: 1.5rem;
    margin-left: -4rem; }

.title-descr {
  font-size: 1.625rem;
  margin: 3.125rem 0;
  line-height: 1.5;
  color: #444444; }

.mytable {
  border: 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 100%; }
  .mytable > tbody > tr {
    border: 0px; }
    .mytable > tbody > tr:nth-child(even) {
      background-color: white; }
    .mytable > tbody > tr:nth-child(odd) {
      background-color: rgba(232, 232, 232, 0.5); }
    .mytable > tbody > tr > th {
      border: 0px;
      background-color: #dac6b9;
      text-transform: uppercase;
      font-family: ProximaBold;
      width: 33.3%;
      vertical-align: middle;
      line-height: 1.5;
      color: #463123;
      padding: 2rem; }
    .mytable > tbody > tr td {
      border: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      width: 33.3%;
      font-size: 1.125rem;
      font-family: ProximaRegular; }

.percent {
  font-size: 70px;
  color: #606e3d;
  font-family: GothamProRegular;
  display: inline-block;
  margin-left: 25px;
  margin-top: 15px; }

.halfgreenbutton > p > span {
  font-weight: bold; }

.halfgreenbutton > p {
  font-size: 20px;
  display: inline-block;
  text-transform: uppercase;
  color: #606e3d; }

.secondtable {
  margin-top: 50px; }

.halfgreenbutton {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
  width: 620px;
  height: 145px;
  background-color: #c6ea87;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }

.owner-tables {
  padding-top: 12.5rem;
  padding-bottom: 19rem;
  height: auto; }
  .owner-tables__top {
    margin-bottom: 31rem; }
  .owner-tables__left {
    padding-right: 5.45rem;
    padding-top: 2rem; }
  .owner-tables__right {
    padding-left: 5.45rem; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.field-procent {
  padding: 2rem;
  margin-top: 30px;
  background-color: #c6ea87;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  color: #444444;
  font-size: 1.625rem; }

.owner-procent {
  padding: 2rem;
  margin-top: 30px;
  background-color: #c6ea87;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  color: #606e3d; }
  .owner-procent__number {
    font-family: GothamProRegular;
    font-size: 5.25rem; }
  .owner-procent__text {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-left: 20px;
    line-height: 1.5; }
    .owner-procent__text b {
      font-family: GothamProBold; }

img {
  max-width: 100%;
  height: auto; }

.white-color {
  color: #fff; }

.step__content {
  margin-top: 5.3rem; }

.step__icon {
  height: 275px;
  line-height: 275px;
  margin-bottom: 3.75rem;
  position: relative; }
  .step__icon:after {
    content: "";
    display: block;
    width: 110px;
    height: 27px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: -15%;
    background: url(../img/elips.png) no-repeat; }
  .step__icon img {
    vertical-align: middle; }

.step__item {
  width: 22%; }
  .step__item:last-child .step__icon:after {
    content: none; }

.step__title {
  text-transform: uppercase;
  color: #a6724f;
  font-size: 1.875rem;
  font-family: ProximaBold;
  line-height: 1.3;
  margin-bottom: 2.5rem; }

.step__text {
  font-size: 1.5rem;
  color: #000;
  opacity: 0.8;
  line-height: 1.5; }
  .step__text a {
    color: #02b5ff;
    font-family: ProximaBold;
    text-decoration: underline; }

.field-header p {
  color: #000;
  font-size: 2.125rem;
  margin-top: 3.75rem; }

.field-advantages {
  padding: 12rem 0;
  height: auto; }
  .field-advantages__list {
    margin-left: -2.5rem;
    margin-top: 3.125rem;
    font-size: 1.5rem;
    line-height: 1.5; }
  .field-advantages__block {
    padding-left: 2.5rem;
    margin-bottom: 3.125rem; }
  .field-advantages__item {
    position: relative;
    padding-left: 3.125rem; }
    .field-advantages__item:before {
      content: "";
      display: block;
      width: 27px;
      height: 24px;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 5px;
      background: url(../img/plant-small.png) no-repeat; }
  .field-advantages__top {
    margin-bottom: 24rem; }

.field-method h2 {
  margin-bottom: 4.3rem; }

.field-method__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 175px; }

.field-method__title {
  text-transform: uppercase;
  color: #a6724f;
  font-size: 1.625rem;
  font-family: ProximaBold;
  margin-bottom: 1rem; }

.field-method__year-number {
  font-size: 109px;
  line-height: 1; }

.field-method__year-text {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase; }

.field-method__number {
  position: absolute;
  z-index: 2;
  color: #705a4c;
  width: 193px;
  height: 252px;
  left: -1px;
  top: -15px;
  text-align: center; }
  .field-method__number--brown {
    background: url(../img/brown-bg.png) no-repeat; }
  .field-method__number--green {
    background: url(../img/green-bg.png) no-repeat; }

.field-method__text {
  background: #fff;
  padding: 2rem 2.8rem;
  font-size: 1.625rem;
  line-height: 1.4;
  -webkit-border-radius: 0 7px 7px 7px;
  border-radius: 0 7px 7px 7px;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.23);
  box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.23);
  min-height: 215px; }
  .field-method__text p + p {
    margin-top: 2rem; }

.garanty-leaf1 {
  position: absolute;
  z-index: 2;
  right: 55%;
  bottom: -150px; }

.garanty-leaf2 {
  position: absolute;
  z-index: 2;
  right: 20%;
  bottom: -50px; }

.chart-leaf1 {
  position: absolute;
  z-index: 2;
  left: 20%;
  top: 30px; }

.chart-leaf2 {
  left: 0;
  top: 35%;
  position: absolute;
  z-index: 2; }

.contacts-leaf1 {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 20%; }

.contacts-leaf2 {
  position: absolute;
  z-index: 2;
  left: 45%;
  bottom: 45rem; }

.contacts-leaf3 {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 40rem; }

.contacts-leaf4 {
  position: absolute;
  z-index: 2;
  right: 50%;
  bottom: -70px; }

.contacts-leaf5 {
  position: absolute;
  z-index: 2;
  left: 45%;
  top: 10%; }

.nut {
  position: absolute;
  z-index: 2;
  left: 35%;
  top: -50px;
  z-index: 2; }

.table-leaf1 {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 100px;
  z-index: 2; }

.table-leaf2 {
  position: absolute;
  z-index: 2;
  right: 30%;
  top: 45%;
  z-index: 2; }

.table-leaf3 {
  position: absolute;
  z-index: 2;
  right: 55%;
  top: 55%;
  z-index: 2; }

.table-leaf4 {
  position: absolute;
  z-index: 2;
  right: 0;
  z-index: 1;
  top: 20%; }

.table-leaf5 {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 35%; }

.nut2 {
  position: absolute;
  z-index: 1;
  right: 15%;
  bottom: -50px; }

.table-leaf6 {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 15%; }

.table-leaf7 {
  position: absolute;
  z-index: 1;
  left: 15%;
  bottom: 3%; }

.bulut1 {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: -80px; }

.bulut2 {
  position: absolute;
  z-index: 1;
  left: 40%;
  top: -50px; }

.bulut3 {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 20%; }

.bulut4 {
  position: absolute;
  z-index: 1;
  left: 20%;
  bottom: -200px; }

.bulut5 {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0; }

.contacts-leaf6 {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -150px; }

.map {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 200px; }

.fieald-leaf1 {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 35%; }

.fieald-leaf2 {
  right: 0;
  top: -300px;
  position: absolute;
  z-index: 1; }

.fieald-leaf4 {
  right: 25%;
  top: 20px;
  position: absolute;
  z-index: 1; }

.fieald-nut {
  position: absolute;
  z-index: 1;
  right: 18%;
  top: 45%; }

.money-leaf1 {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -200px; }

.money-leaf2 {
  position: absolute;
  z-index: 1;
  bottom: -300px;
  left: 0; }

.text-descr {
  font-size: 1.625rem;
  margin-left: 30px;
  line-height: 1.5; }

.chart-wrapp {
  padding: 10rem 0; }

.contacts-wrapp {
  padding: 10rem 0; }

.navbar-toggle {
  display: block;
  position: fixed;
  left: 15px;
  top: 10px;
  width: 40px;
  border: 1px solid #b9e156;
  outline: 0;
  padding: 7px;
  cursor: pointer;
  background: #b9e156; }

.icon-bar {
  width: 100%;
  display: block;
  height: 3px;
  background: #fff; }
  .icon-bar + .icon-bar {
    margin-top: 4px; }

.close {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 5px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  border: 0;
  outline: 0;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=50);
  opacity: .5; }
  .close:hover {
    opacity: 1; }

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0; }
